/* //////// --------------------- RESET STYLES --------------------- //////// */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "VT323", monospace;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* //////// --------------------- MAIN CSS --------------------- //////// */
:root {
  /*Colors*/
  --primary-light: #1bfe9e50;
  --primary: #1bfe9e;
  --primary-dark: #09be73;
  --secondary-light: #351985;
  --secondary: #150935;
  --secondary-dark: #09031f;
  --darkness:#04010e;
  /*Properties*/
  --radius:5px;
  --radius-top:5px 5px 0px 0px;
  --radius-right:0px 5px 5px 0px;
  --radius-bottom:0px 0px 5px 5px;
  --radius-left:5px 0px 0px 5px;
  --sahdow:2px 4px 10px var(--secondary-dark);
  --sahdow-lg:4px 8px 20px var(--secondary-dark);
  --border:1px solid var(--primary);
  --glow:0px 0px 5px var(--primary-light), 0px 0px 15px var(--primary), 0px 0px 25px var(--primary);
}

/*Fonts*/
h1 {
  font-size: 5rem;
  line-height: 3.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 20px;
}

body, html {
  height: 100%;
  background-color: var(--secondary-dark);
  color: var(--primary);
}

/* //////// --------------------- MINI FRAMEWORK --------------------- //////// */
.d-f {
  display: flex;
}

.f-row {
  flex-direction: row;
}

.f-column {
  flex-direction: column;
}

.fs-evenly {
  justify-content: space-evenly;
}

/*Space between*/
.fs-between {
  justify-content: space-between;
}

.fs-around {
  justify-content: space-around;
}

.fs-center {
  justify-content: center;
}

.fs-start {
  justify-content: start;
}

.fs-end {
  justify-content: end;
}

.fi-center {
  align-items: center;
}

.fi-start {
  align-items: flex-start;
}

.fi-end {
  align-items: flex-end;
}

.f-wrap {
  flex-wrap: wrap;
}

/*border*/
.border {
  border: var(--border);
}

.border-top {
  border-top: var(--border);
}

.border-bottom {
  border-bottom: var(--border);
}

.m-2 {
  margin: 1rem;
}

.m-3 {
  margin: 1.5rem;
}

.m-4 {
  margin: 2rem;
}

.m-5 {
  margin: 2.5rem;
}

/* Paddings */
.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 1.5rem;
}

.p-4 {
  padding: 2rem;
}

.p-5 {
  padding: 2.5rem;
}

.px-1 {
  padding: 0 0.5rem;
}

.px-2 {
  padding: 0 1rem;
}

.px-3 {
  padding: 0 1.5rem;
}

.px-4 {
  padding: 0 2rem;
}

.px-5 {
  padding: 2.5rem 0;
}

.py-1 {
  padding: 0.5rem 0;
}

.py-2 {
  padding: 1rem 0;
}

.py-3 {
  padding: 1.5rem 0;
}

.py-4 {
  padding: 2rem 0;
}

.py-5 {
  padding: 2.5rem 0;
}

/* Backgrounds */
.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

/* Text colors */
.text-dark {
  color: var(--secondary-dark);
}

/* Text align */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* Border radius */
.radius {
  border-radius: var(--radius);
}

.radius-top {
  border-radius: var(--radius-top);
}

.radius-bottom {
  border-radius: var(--radius-bottom);
}

.radius-left {
  border-radius: var(--radius-left);
}

.radius-right {
  border-radius: var(--radius-right);
}

/* //////// --------------------- CUSTOM STYLES FOR ALL PAGES --------------------- //////// */
a {
  text-decoration: none;
  color: var(--primary);
}

/* Navigation */
.brand {
  max-width: 100%;
  height: auto;
}

.navbar {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  font-size: 1.1rem;
}

#active {
  border-radius: var(--radius);
  text-shadow: var(--glow);
  border: 1px solid var(--primary);
  background: linear-gradient(180deg, rgba(27, 254, 158, 0.25) 0%, rgba(27, 254, 158, 0) 50%);
}

.btn-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: 5px 15px;
  margin: 10px;
  color: var(--primary);
  text-transform: uppercase;
  border-radius: var(--radius);
  border-top: 1px solid var(--secondary-dark);
  border-bottom: 1px solid var(--secondary-dark);
}

.btn-nav-fill {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: 5px 15px;
  margin: 10px;
  color: var(--primary);
  text-transform: uppercase;
  border-radius: var(--radius);
  background-color: var(--primary-light);
  border-top: 1px solid var(--primary-dark);
  border-bottom: 1px solid var(--primary-dark);
}

.btn-about-fill {
  display: flex;
  align-items: center;
  margin: 15px 0px;
  justify-content: center;
  height: 2rem;
  padding: 5px 15px;
  color: var(--primary);
  text-transform: uppercase;
  border-radius: var(--radius);
  background-color: var(--primary-light);
  border-top: 1px solid var(--primary-dark);
  border-bottom: 1px solid var(--primary-dark);
}

.btn-nav:hover {
  border-bottom: 1px solid var(--darkness);
  border-radius: var(--radius);
  text-shadow: var(--glow);
  transition: 300ms;
}

.btn-nav-fill:hover {
  border-bottom: 1px solid var(--primary);
  border-top: 1px solid var(--primary);
  border-radius: var(--radius);
  text-shadow: var(--glow);
  transition: 300ms;
}

.btn-about-fill:hover {
  border-bottom: 1px solid var(--primary);
  border-top: 1px solid var(--primary);
  border-radius: var(--radius);
  text-shadow: var(--glow);
  transition: 300ms;
}

.button {
  font-family: "VT323", monospace;
  font-size: 1.2rem;
  padding: 15px 15px;
  color: var(--primary);
  text-transform: uppercase;
  border-radius: var(--radius);
  border: 2px solid var(--primary);
  background: var(--secondary);
  cursor: pointer;
}

.button:hover {
  font-family: "VT323", monospace;
  color: var(--primary);
  text-transform: uppercase;
  border-radius: var(--radius);
  background: linear-gradient(180deg, rgba(27, 254, 158, 0.25) 0%, rgba(27, 254, 158, 0) 50%);
  text-shadow: var(--glow);
  cursor: pointer;
}

/* //////// Home Styles //////// */
.heroStyles {
  background-image: url("../img/bg-home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top: var(--border);
  border-bottom: var(--border);
}

.bgCallToAction {
  background-image: url("../img/bg-home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgHero {
  height: 40vh;
  width: 40vh;
}

.imgLogo {
  height: 10vh;
  width: 10vh;
}

.columHero {
  height: 40vh;
  width: 40vh;
}

.filters {
  display: flex;
}

.filters li {
  flex-direction: row;
}

.fade-e-1 {
  animation: fadeIn linear 400ms;
  -webkit-animation: fadeIn linear 400ms;
  -moz-animation: fadeIn linear 400ms;
  -o-animation: fadeIn linear 400ms;
  -ms-animation: fadeIn linear 400ms;
}

.fade-e-2 {
  animation: fadeIn linear 400ms;
  -webkit-animation: fadeIn linear 400ms;
  -moz-animation: fadeIn linear 400ms;
  -o-animation: fadeIn linear 400ms;
  -ms-animation: fadeIn linear 400ms;
  animation-delay: 200ms;
}

.fade-e-3 {
  animation: fadeIn linear 400ms;
  -webkit-animation: fadeIn linear 400ms;
  -moz-animation: fadeIn linear 400ms;
  -o-animation: fadeIn linear 400ms;
  -ms-animation: fadeIn linear 400ms;
  animation-delay: 400ms;
}

.fade-e-4 {
  animation: fadeIn linear 400ms;
  -webkit-animation: fadeIn linear 400ms;
  -moz-animation: fadeIn linear 400ms;
  -o-animation: fadeIn linear 400ms;
  -ms-animation: fadeIn linear 400ms;
  animation-delay: 600ms;
}

.fade-e-5 {
  animation: fadeIn linear 400ms;
  -webkit-animation: fadeIn linear 400ms;
  -moz-animation: fadeIn linear 400ms;
  -o-animation: fadeIn linear 400ms;
  -ms-animation: fadeIn linear 400ms;
  animation-delay: 800ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.about-me {
  overflow: scroll;
}

/*GRIDS IN HOME FOR LOGOS*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "logo1 logo2 logo3 logo4" "logo5 logo6 logo7 logo8";
}

.logo1 {
  grid-area: logo1;
}

.logo2 {
  grid-area: logo2;
}

.logo3 {
  grid-area: logo3;
}

.logo4 {
  grid-area: logo4;
}

.logo5 {
  grid-area: logo5;
}

.logo6 {
  grid-area: logo6;
}

.logo7 {
  grid-area: logo7;
}

.logo8 {
  grid-area: logo8;
}

/*GRID IN PORFOLIO*/
.containerPortfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "proyect1 proyect1 proyect1 proyect2 proyect2 proyect2 proyect2" "proyect1 proyect1 proyect1 proyect2 proyect2 proyect2 proyect2" "proyect1 proyect1 proyect1 proyect3 proyect3 proyect3 proyect3" "text1 text1 text1 proyect3 proyect3 proyect3 proyect3" "proyect4 proyect4 proyect4 proyect4 proyect4 text2 text2" "proyect4 proyect4 proyect4 proyect4 proyect4 text2 text2" "text3 text3 proyect6 proyect6 proyect7 proyect7 proyect7" "text3 text3 proyect6 proyect6 proyect7 proyect7 proyect7";
}

.proyect1 {
  grid-area: proyect1;
  background-image: url("../img/port3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.proyect2 {
  grid-area: proyect2;
  background-image: url("../img/port2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.proyect3 {
  grid-area: proyect3;
  background-image: url("../img/port1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text1 {
  grid-area: text1;
}

.proyect4 {
  grid-area: proyect4;
  background-image: url("../img/port1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text2 {
  grid-area: text2;
}

.text3 {
  grid-area: text3;
}

.proyect6 {
  grid-area: proyect6;
  background-image: url("../img/port3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.proyect7 {
  grid-area: proyect7;
  background-image: url("../img/port1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* //////// -------------------- END CUSTOM STYLES FOR ALL PAGES ------------------ //////// */
/* //////// ---------------------  CUSTOMS MEDIA QUERYS  -------------------- //////// */
@media only screen and (max-width: 620px) {
  .imgHero {
    width: 100%;
    height: 100%;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas: "logo1 logo2" "logo3 logo4" "logo5 logo6" "logo7 logo8";
  }
  .containerPortfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas: "proyect1 proyect1" "proyect1 proyect1" "proyect2 proyect3" "proyect2 proyect3" "text1 text1" "proyect4 proyect4" "proyect4 proyect4" "text2 text2" "proyect6 proyect7" "proyect6 proyect7" "text3 text3";
  }
}
/* //////// ---------------------  MEDIA QUERYS FOR FRAMEWORK  -------------------- //////// */
/*------------- MOBILE --------------*/
@media only screen and (max-width: 620px) {
  .f-sm-row {
    flex-direction: row;
  }
  .f-sm-column {
    flex-direction: column;
  }
  .d-sm-none {
    display: none;
  }
  .d-sm-flex {
    display: flex;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-inline {
    display: inline;
  }
  .w-xl-100 {
    width: 100%;
  }
}
/*------------- TABLET --------------*/
@media only screen and (max-width: 768px) {
  .f-md-row {
    flex-direction: row;
  }
  .f-md-column {
    flex-direction: column;
  }
  .d-md-none {
    display: none;
  }
  .d-md-flex {
    display: flex;
  }
  .d-md-block {
    display: block;
  }
  .d-md-inline {
    display: inline;
  }
  .w-md-100 {
    width: 100%;
  }
}
/*------------- DESKTOP --------------*/
@media only screen and (max-width: 992px) {
  .f-lg-row {
    flex-direction: row;
  }
  .f-lg-column {
    flex-direction: column;
  }
  .d-lg-none {
    display: none;
  }
  .d-lg-flex {
    display: flex;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-inline {
    display: inline;
  }
  .w-lg-100 {
    width: 100%;
  }
}
/*------------- DESKTOP --------------*/
@media only screen and (max-width: 1200px) {
  .f-xl-row {
    flex-direction: row;
  }
  .f-xl-column {
    flex-direction: column;
  }
  .d-xl-none {
    display: none;
  }
  .d-xl-flex {
    display: flex;
  }
  .d-xl-block {
    display: block;
  }
  .d-xl-inline {
    display: inline;
  }
  .w-xl-100 {
    width: 100%;
  }
}
.hero {
  font-size: clamp(24px, 8vw, 18px);
  line-height: 1;
  display: inline-block;
  z-index: 2;
  letter-spacing: 10px;
  /* Bright things in dark environments usually cast that light, giving off a glow */
  filter: drop-shadow(0 1px 10px);
}

.demo {
  background: rgb(0, 0, 0);
}

.layers {
  position: relative;
}

.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
}

.layers::before {
  top: 10px;
  left: 15px;
  color: #1bfe9e;
}

.layers::after {
  top: 5px;
  left: -10px;
  color: #92fb1b;
}

.single-path {
  -webkit-clip-path: polygon(0% 12%, 53% 12%, 53% 26%, 25% 26%, 25% 86%, 31% 86%, 31% 0%, 53% 0%, 53% 84%, 92% 84%, 92% 82%, 70% 82%, 70% 29%, 78% 29%, 78% 65%, 69% 65%, 69% 66%, 77% 66%, 77% 45%, 85% 45%, 85% 26%, 97% 26%, 97% 28%, 84% 28%, 84% 34%, 54% 34%, 54% 89%, 30% 89%, 30% 58%, 83% 58%, 83% 5%, 68% 5%, 68% 36%, 62% 36%, 62% 1%, 12% 1%, 12% 34%, 60% 34%, 60% 57%, 98% 57%, 98% 83%, 1% 83%, 1% 53%, 91% 53%, 91% 84%, 8% 84%, 8% 83%, 4% 83%);
          clip-path: polygon(0% 12%, 53% 12%, 53% 26%, 25% 26%, 25% 86%, 31% 86%, 31% 0%, 53% 0%, 53% 84%, 92% 84%, 92% 82%, 70% 82%, 70% 29%, 78% 29%, 78% 65%, 69% 65%, 69% 66%, 77% 66%, 77% 45%, 85% 45%, 85% 26%, 97% 26%, 97% 28%, 84% 28%, 84% 34%, 54% 34%, 54% 89%, 30% 89%, 30% 58%, 83% 58%, 83% 5%, 68% 5%, 68% 36%, 62% 36%, 62% 1%, 12% 1%, 12% 34%, 60% 34%, 60% 57%, 98% 57%, 98% 83%, 1% 83%, 1% 53%, 91% 53%, 91% 84%, 8% 84%, 8% 83%, 4% 83%);
}

.paths {
  animation: paths 5s step-end infinite;
}

@keyframes paths {
  0% {
    -webkit-clip-path: polygon(0% 43%, 83% 43%, 83% 22%, 23% 22%, 23% 24%, 91% 24%, 91% 26%, 18% 26%, 18% 83%, 29% 83%, 29% 17%, 41% 17%, 41% 39%, 18% 39%, 18% 82%, 54% 82%, 54% 88%, 19% 88%, 19% 4%, 39% 4%, 39% 14%, 76% 14%, 76% 52%, 23% 52%, 23% 35%, 19% 35%, 19% 8%, 36% 8%, 36% 31%, 73% 31%, 73% 16%, 1% 16%, 1% 56%, 50% 56%, 50% 8%);
            clip-path: polygon(0% 43%, 83% 43%, 83% 22%, 23% 22%, 23% 24%, 91% 24%, 91% 26%, 18% 26%, 18% 83%, 29% 83%, 29% 17%, 41% 17%, 41% 39%, 18% 39%, 18% 82%, 54% 82%, 54% 88%, 19% 88%, 19% 4%, 39% 4%, 39% 14%, 76% 14%, 76% 52%, 23% 52%, 23% 35%, 19% 35%, 19% 8%, 36% 8%, 36% 31%, 73% 31%, 73% 16%, 1% 16%, 1% 56%, 50% 56%, 50% 8%);
  }
  5% {
    -webkit-clip-path: polygon(0% 29%, 44% 29%, 44% 83%, 94% 83%, 94% 56%, 11% 56%, 11% 64%, 94% 64%, 94% 70%, 88% 70%, 88% 32%, 18% 32%, 18% 96%, 10% 96%, 10% 62%, 9% 62%, 9% 84%, 68% 84%, 68% 50%, 52% 50%, 52% 55%, 35% 55%, 35% 87%, 25% 87%, 25% 39%, 15% 39%, 15% 88%, 52% 88%);
            clip-path: polygon(0% 29%, 44% 29%, 44% 83%, 94% 83%, 94% 56%, 11% 56%, 11% 64%, 94% 64%, 94% 70%, 88% 70%, 88% 32%, 18% 32%, 18% 96%, 10% 96%, 10% 62%, 9% 62%, 9% 84%, 68% 84%, 68% 50%, 52% 50%, 52% 55%, 35% 55%, 35% 87%, 25% 87%, 25% 39%, 15% 39%, 15% 88%, 52% 88%);
  }
  30% {
    -webkit-clip-path: polygon(0% 53%, 93% 53%, 93% 62%, 68% 62%, 68% 37%, 97% 37%, 97% 89%, 13% 89%, 13% 45%, 51% 45%, 51% 88%, 17% 88%, 17% 54%, 81% 54%, 81% 75%, 79% 75%, 79% 76%, 38% 76%, 38% 28%, 61% 28%, 61% 12%, 55% 12%, 55% 62%, 68% 62%, 68% 51%, 0% 51%, 0% 92%, 63% 92%, 63% 4%, 65% 4%);
            clip-path: polygon(0% 53%, 93% 53%, 93% 62%, 68% 62%, 68% 37%, 97% 37%, 97% 89%, 13% 89%, 13% 45%, 51% 45%, 51% 88%, 17% 88%, 17% 54%, 81% 54%, 81% 75%, 79% 75%, 79% 76%, 38% 76%, 38% 28%, 61% 28%, 61% 12%, 55% 12%, 55% 62%, 68% 62%, 68% 51%, 0% 51%, 0% 92%, 63% 92%, 63% 4%, 65% 4%);
  }
  45% {
    -webkit-clip-path: polygon(0% 33%, 2% 33%, 2% 69%, 58% 69%, 58% 94%, 55% 94%, 55% 25%, 33% 25%, 33% 85%, 16% 85%, 16% 19%, 5% 19%, 5% 20%, 79% 20%, 79% 96%, 93% 96%, 93% 50%, 5% 50%, 5% 74%, 55% 74%, 55% 57%, 96% 57%, 96% 59%, 87% 59%, 87% 65%, 82% 65%, 82% 39%, 63% 39%, 63% 92%, 4% 92%, 4% 36%, 24% 36%, 24% 70%, 1% 70%, 1% 43%, 15% 43%, 15% 28%, 23% 28%, 23% 71%, 90% 71%, 90% 86%, 97% 86%, 97% 1%, 60% 1%, 60% 67%, 71% 67%, 71% 91%, 17% 91%, 17% 14%, 39% 14%, 39% 30%, 58% 30%, 58% 11%, 52% 11%, 52% 83%, 68% 83%);
            clip-path: polygon(0% 33%, 2% 33%, 2% 69%, 58% 69%, 58% 94%, 55% 94%, 55% 25%, 33% 25%, 33% 85%, 16% 85%, 16% 19%, 5% 19%, 5% 20%, 79% 20%, 79% 96%, 93% 96%, 93% 50%, 5% 50%, 5% 74%, 55% 74%, 55% 57%, 96% 57%, 96% 59%, 87% 59%, 87% 65%, 82% 65%, 82% 39%, 63% 39%, 63% 92%, 4% 92%, 4% 36%, 24% 36%, 24% 70%, 1% 70%, 1% 43%, 15% 43%, 15% 28%, 23% 28%, 23% 71%, 90% 71%, 90% 86%, 97% 86%, 97% 1%, 60% 1%, 60% 67%, 71% 67%, 71% 91%, 17% 91%, 17% 14%, 39% 14%, 39% 30%, 58% 30%, 58% 11%, 52% 11%, 52% 83%, 68% 83%);
  }
  76% {
    -webkit-clip-path: polygon(0% 26%, 15% 26%, 15% 73%, 72% 73%, 72% 70%, 77% 70%, 77% 75%, 8% 75%, 8% 42%, 4% 42%, 4% 61%, 17% 61%, 17% 12%, 26% 12%, 26% 63%, 73% 63%, 73% 43%, 90% 43%, 90% 67%, 50% 67%, 50% 41%, 42% 41%, 42% 46%, 50% 46%, 50% 84%, 96% 84%, 96% 78%, 49% 78%, 49% 25%, 63% 25%, 63% 14%);
            clip-path: polygon(0% 26%, 15% 26%, 15% 73%, 72% 73%, 72% 70%, 77% 70%, 77% 75%, 8% 75%, 8% 42%, 4% 42%, 4% 61%, 17% 61%, 17% 12%, 26% 12%, 26% 63%, 73% 63%, 73% 43%, 90% 43%, 90% 67%, 50% 67%, 50% 41%, 42% 41%, 42% 46%, 50% 46%, 50% 84%, 96% 84%, 96% 78%, 49% 78%, 49% 25%, 63% 25%, 63% 14%);
  }
  90% {
    -webkit-clip-path: polygon(0% 41%, 13% 41%, 13% 6%, 87% 6%, 87% 93%, 10% 93%, 10% 13%, 89% 13%, 89% 6%, 3% 6%, 3% 8%, 16% 8%, 16% 79%, 0% 79%, 0% 99%, 92% 99%, 92% 90%, 5% 90%, 5% 60%, 0% 60%, 0% 48%, 89% 48%, 89% 13%, 80% 13%, 80% 43%, 95% 43%, 95% 19%, 80% 19%, 80% 85%, 38% 85%, 38% 62%);
            clip-path: polygon(0% 41%, 13% 41%, 13% 6%, 87% 6%, 87% 93%, 10% 93%, 10% 13%, 89% 13%, 89% 6%, 3% 6%, 3% 8%, 16% 8%, 16% 79%, 0% 79%, 0% 99%, 92% 99%, 92% 90%, 5% 90%, 5% 60%, 0% 60%, 0% 48%, 89% 48%, 89% 13%, 80% 13%, 80% 43%, 95% 43%, 95% 19%, 80% 19%, 80% 85%, 38% 85%, 38% 62%);
  }
  1%, 7%, 33%, 47%, 78%, 93% {
    -webkit-clip-path: none;
            clip-path: none;
  }
}
.movement {
  /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
  position: relative;
  animation: movement 8s step-end infinite;
}

@keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }
  15% {
    top: 10px;
    left: 10px;
  }
  60% {
    top: 5px;
    left: -10px;
  }
  75% {
    top: -5px;
    left: 20px;
  }
  100% {
    top: 10px;
    left: 5px;
  }
}
.opacity {
  animation: opacity 5s step-end infinite;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }
  5% {
    opacity: 0.7;
  }
  30% {
    opacity: 0.4;
  }
  45% {
    opacity: 0.6;
  }
  76% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.8;
  }
  1%, 7%, 33%, 47%, 78%, 93% {
    opacity: 0;
  }
}
.font {
  animation: font 7s step-end infinite;
}

@keyframes font {
  0% {
    font-weight: 100;
    color: #1bfe9e;
    filter: blur(3px);
  }
  20% {
    font-weight: 500;
    color: #1bfe9e;
    filter: blur(0);
  }
  50% {
    font-weight: 300;
    color: #1bfe9e;
    filter: blur(2px);
  }
  60% {
    font-weight: 700;
    color: #1bfe9e;
    filter: blur(0);
  }
  90% {
    font-weight: 500;
    color: #1bfe9e;
    filter: blur(6px);
  }
}
.glitch span {
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite, font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite, font 7s step-end infinite, movement 8s step-end infinite;
}

.hero-container {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* container-time around content */
.container-time {
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* Place the container-time to the left */
.left {
  left: 0;
}

/* Place the container-time to the right */
.right {
  left: 50%;
}

/* Fix the circle for container-times on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 12px 20px;
  margin: 15px 0px;
  background-color: var(--secondary-dark);
  border: var(--border);
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  /* Full-width container-times */
  .container-time {
    width: 85%;
    padding-left: 30px;
    padding-right: 25px;
  }
  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }
  /* Make all right container-times behave like the left ones */
  .right {
    left: 0%;
  }
}/*# sourceMappingURL=styles.css.map */