/*
Esta ciudad acaba de demostrar 
que está llena de gente dispuesta 
a creer en este CSS.
          .  .
          |\_|\
          | a_a\
          | | "]
      ____| '-\___
     /.----.___.-'\
    //        _    \
   //   .-. (~v~) /|
  |'|  /\:  .--  / \
 // |-/  \_/____/\/~|
|/  \ |  []_|_|_] \ |
| \  | \ |___   _\ ]_}
| |  '-' /   '.'  |
| |     /    /|:  | 
| |     |   / |:  /\
| |     /  /  |  /  \
| |    |  /  /  |    \
\ |    |/\/  |/|/\    \
 \|\ |\|  |  | / /\/\__\
  \ \| | /   | |__
sixto  / |   |____)
       |_/
*/

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* //////// --------------------- RESET STYLES --------------------- //////// */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'VT323', monospace;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* //////// --------------------- MAIN CSS --------------------- //////// */

:root{
/*Colors*/    
--primary-light: #1bfe9e50;
--primary: #1bfe9e;
--primary-dark: #09be73;
--secondary-light: #351985;
--secondary: #150935;
--secondary-dark: #09031f;
--darkness:#04010e;
/*Properties*/
--radius:5px;
--radius-top:5px 5px 0px 0px;
--radius-right:0px 5px 5px 0px;
--radius-bottom:0px 0px 5px 5px;
--radius-left:5px 0px 0px 5px;
--sahdow:2px 4px 10px var(--secondary-dark);
--sahdow-lg:4px 8px 20px var(--secondary-dark);
--border:1px solid var(--primary);
--glow:0px 0px 5px var(--primary-light), 0px 0px 15px var(--primary), 0px 0px 25px var(--primary);
}

/*Fonts*/
h1{
    font-size:5rem;
    line-height: 3.5rem;
}

h2{
    font-size:4rem;
}

h3{
    font-size:3rem;
}

h4{
    font-size:2rem;
}

h5{
    font-size:1rem;
}

p{
    font-size: 20px;
}

body, html {
    height: 100%;
    background-color: var(--secondary-dark);
    color:var(--primary);
}

/* //////// --------------------- MINI FRAMEWORK --------------------- //////// */

.d-f{
    display:flex;
}

.f-row{
    flex-direction: row;
}

.f-column{
    flex-direction: column;
}

.fs-evenly{
    justify-content: space-evenly;
}

/*Space between*/

.fs-between{
    justify-content: space-between;
}

.fs-around{
    justify-content: space-around;
}

.fs-center{
    justify-content: center;
}

.fs-start{
    justify-content: start;
}

.fs-end{
    justify-content: end;
}

.fi-center {
    align-items: center;
}

.fi-start {
    align-items: flex-start;
}

.fi-end {
    align-items: flex-end;
}

.f-wrap{
    flex-wrap: wrap;
}

/*border*/

.border {
    border:var(--border)
}

.border-top {
    border-top:var(--border)
}

.border-bottom {
    border-bottom:var(--border)
}


/*Margins*/

.m-1{
    margin: 0.5rem;
}

.m-2{
    margin: 1rem;
}

.m-3{
    margin: 1.5rem;
}

.m-4{
    margin: 2rem;
}

.m-5{
    margin: 2.5rem;
}

/* Paddings */

.p-1{
    padding: 0.5rem;
}

.p-2{
    padding: 1rem;
}

.p-3{
    padding: 1.5rem;
}

.p-4{
    padding: 2rem;
}

.p-5{
    padding: 2.5rem;
}

.px-1{
    padding: 0 0.5rem;
}

.px-2{
    padding: 0 1rem;
}

.px-3{
    padding: 0 1.5rem;
}

.px-4{
    padding: 0 2rem;
}

.px-5{
    padding: 2.5rem 0;
}

.py-1{
    padding: 0.5rem 0;
}

.py-2{
    padding: 1rem 0;
}

.py-3{
    padding: 1.5rem 0;
}

.py-4{
    padding: 2rem 0;
}

.py-5{
    padding: 2.5rem 0;
}

/* Backgrounds */

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

/* Text colors */
.text-dark {
    color: var(--secondary-dark);
}

/* Text align */
.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

/* Border radius */
.radius {
    border-radius:var(--radius);
}

.radius-top {
    border-radius:var(--radius-top);
}

.radius-bottom {
    border-radius:var(--radius-bottom);
}

.radius-left {
    border-radius:var(--radius-left);
}

.radius-right {
    border-radius:var(--radius-right);
}

/* //////// --------------------- CUSTOM STYLES FOR ALL PAGES --------------------- //////// */

a{
    text-decoration: none;
    color:var(--primary)
}

/* Navigation */

.brand {
        max-width: 100%;
        height: auto;
}

.navbar{
    text-decoration: none;
    list-style: none;
    padding: 0px;
    font-size: 1.1rem;
}

#active{
    border-radius: var(--radius);
    text-shadow:var(--glow);
    border:1px solid var(--primary);
    background: linear-gradient(180deg, rgba(27,254,158,0.25) 0%, rgba(27,254,158,0) 50%); 
}


.btn-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    padding:5px 15px;
    margin:10px;
    color:var(--primary);
    text-transform: uppercase;
    border-radius: var(--radius);
    border-top:1px solid var(--secondary-dark);
    border-bottom:1px solid var(--secondary-dark);
}

.btn-nav-fill{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    padding:5px 15px;
    margin:10px;
    color:var(--primary);
    text-transform: uppercase;
    border-radius: var(--radius);
    background-color: var(--primary-light);
    border-top:1px solid var(--primary-dark);
    border-bottom:1px solid var(--primary-dark);
}

.btn-nav:hover{
    border-bottom:1px solid var(--darkness);
    border-radius: var(--radius);
    text-shadow:var(--glow);
    transition: 300ms; 
}

.btn-nav-fill:hover{
    border-bottom:1px solid var(--primary);
    border-top:1px solid var(--primary);
    border-radius: var(--radius);
    text-shadow:var(--glow);
    transition: 300ms; 
}

.button{
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    padding:15px 15px;
    color:var(--primary);
    text-transform: uppercase;
    border-radius: var(--radius);
    border:2px solid var(--primary);
    background: var(--secondary);
    cursor: pointer;
}

.button:hover{
    font-family: 'VT323', monospace;
    color:var(--primary);
    text-transform: uppercase;
    border-radius: var(--radius);
    background: linear-gradient(180deg, rgba(27,254,158,0.25) 0%, rgba(27,254,158,0) 50%);
    text-shadow:var(--glow);
    cursor: pointer;
}

/* //////// Home Styles //////// */
.heroStyles{
    background-image: url("../img/bg-home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-top:var(--border);
    border-bottom:var(--border);
}

.bgCallToAction{
    background-image: url("../img/bg-home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgHero {
    height: 40vh;
    width: 40vh;
}

.imgLogo{
    height: 10vh;
    width: 10vh;
}

.columHero{
    height: 40vh;
    width: 40vh;
}

.filters{
    display: flex;
}

.filters li{
    flex-direction: row;
}

.fade-e-1 {
    animation: fadeIn linear 400ms;
    -webkit-animation: fadeIn linear 400ms;
    -moz-animation: fadeIn linear 400ms;
    -o-animation: fadeIn linear 400ms;
    -ms-animation: fadeIn linear 400ms;
  }

  .fade-e-2 {
    animation: fadeIn linear 400ms;
    -webkit-animation: fadeIn linear 400ms;
    -moz-animation: fadeIn linear 400ms;
    -o-animation: fadeIn linear 400ms;
    -ms-animation: fadeIn linear 400ms;
    animation-delay: 200ms;
  }

  .fade-e-3 {
    animation: fadeIn linear 400ms;
    -webkit-animation: fadeIn linear 400ms;
    -moz-animation: fadeIn linear 400ms;
    -o-animation: fadeIn linear 400ms;
    -ms-animation: fadeIn linear 400ms;
    animation-delay: 400ms;
  }

  .fade-e-4 {
    animation: fadeIn linear 400ms;
    -webkit-animation: fadeIn linear 400ms;
    -moz-animation: fadeIn linear 400ms;
    -o-animation: fadeIn linear 400ms;
    -ms-animation: fadeIn linear 400ms;
    animation-delay: 600ms;
  }

  .fade-e-5 {
    animation: fadeIn linear 400ms;
    -webkit-animation: fadeIn linear 400ms;
    -moz-animation: fadeIn linear 400ms;
    -o-animation: fadeIn linear 400ms;
    -ms-animation: fadeIn linear 400ms;
    animation-delay: 800ms;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

/*GRIDS IN HOME FOR LOGOS*/

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo1 logo2 logo3 logo4"
      "logo5 logo6 logo7 logo8";
  }
  
  .logo1 { grid-area: logo1; }
  
  .logo2 { grid-area: logo2; }
  
  .logo3 { grid-area: logo3; }
  
  .logo4 { grid-area: logo4; }
  
  .logo5 { grid-area: logo5; }
  
  .logo6 { grid-area: logo6; }
  
  .logo7 { grid-area: logo7; }
  
  .logo8 { grid-area: logo8; }
  
/*GRID IN PORFOLIO*/

.containerPortfolio {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "proyect1 proyect1 proyect1 proyect2 proyect2 proyect2 proyect2"
      "proyect1 proyect1 proyect1 proyect2 proyect2 proyect2 proyect2"
      "proyect1 proyect1 proyect1 proyect3 proyect3 proyect3 proyect3"
      "text1 text1 text1 proyect3 proyect3 proyect3 proyect3"
      "proyect4 proyect4 proyect4 proyect4 proyect4 text2 text2"
      "proyect4 proyect4 proyect4 proyect4 proyect4 text2 text2"
      "text3 text3 proyect6 proyect6 proyect7 proyect7 proyect7"
      "text3 text3 proyect6 proyect6 proyect7 proyect7 proyect7";
  }
  
  .proyect1 { grid-area: proyect1;
    background-image: url("../img/port3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
  
  .proyect2 { grid-area: proyect2;
    background-image: url("../img/port2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  .proyect3 { grid-area: proyect3; 
    background-image: url("../img/port1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  .text1 { grid-area: text1;
 }
  
  .proyect4 { grid-area: proyect4; 
    background-image: url("../img/port1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  .text2 { grid-area: text2; }
  
  .text3 { grid-area: text3;
}
  
  .proyect6 { grid-area: proyect6; 
    background-image: url("../img/port3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  .proyect7 { grid-area: proyect7; 
    background-image: url("../img/port1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  

/* //////// -------------------- END CUSTOM STYLES FOR ALL PAGES ------------------ //////// */

/* //////// ---------------------  CUSTOMS MEDIA QUERYS  -------------------- //////// */

@media only screen and (max-width: 620px) {
    .imgHero{
        width: 100%;
        height: 100%;
    }

    .container {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
          "logo1 logo2"
          "logo3 logo4"
          "logo5 logo6"
          "logo7 logo8";
      }

      .containerPortfolio {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
          "proyect1 proyect1"
          "proyect1 proyect1"
          "proyect2 proyect3"
          "proyect2 proyect3"
          "text1 text1"
          "proyect4 proyect4"
          "proyect4 proyect4"
          "text2 text2"
          "proyect6 proyect7"
          "proyect6 proyect7"
          "text3 text3";
      }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 1200px) {

}

/* //////// ---------------------  MEDIA QUERYS FOR FRAMEWORK  -------------------- //////// */

/*------------- MOBILE --------------*/

@media only screen and (max-width: 620px) {
    .f-sm-row{
        flex-direction: row;
    }
    
    .f-sm-column{
        flex-direction: column;
    }

    .d-sm-none{
        display: none;
    }

    .d-sm-flex{
        display: flex;
    }

    .d-sm-block{
        display: block;
    }

    .d-sm-inline{
        display: inline;
    }

    .w-xl-100{
        width: 100%;
    }
  }

  /*------------- TABLET --------------*/

@media only screen and (max-width: 768px) {
    .f-md-row{
        flex-direction: row;
    }
    
    .f-md-column{
        flex-direction: column;
    }

    .d-md-none{
        display: none;
    }

    .d-md-flex{
        display: flex;
    }

    .d-md-block{
        display: block;
    }

    .d-md-inline{
        display: inline;
    }

    .w-md-100{
        width: 100%;
    }
  }

  /*------------- DESKTOP --------------*/

  @media only screen and (max-width: 992px) {
    .f-lg-row{
        flex-direction: row;
    }
    
    .f-lg-column{
        flex-direction: column;
    }

    .d-lg-none{
        display: none;
    }

    .d-lg-flex{
        display: flex;
    }

    .d-lg-block{
        display: block;
    }

    .d-lg-inline{
        display: inline;
    }

    .w-lg-100{
        width: 100%;
    }
  }

  /*------------- DESKTOP --------------*/

@media only screen and (max-width: 1200px) {
    .f-xl-row{
        flex-direction: row;
    }
    
    .f-xl-column{
        flex-direction: column;
    }

    .d-xl-none{
        display: none;
    }

    .d-xl-flex{
        display: flex;
    }

    .d-xl-block{
        display: block;
    }

    .d-xl-inline{
        display: inline;
    }

    .w-xl-100{
        width: 100%;
    }
  }